{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Payment Successful</title>
    <link rel="stylesheet" href="{% static 'students/style.css' %}">
</head>
<body>

<div class="payment-success-box">
    <h2>✅ Payment Successful</h2>

    <p><strong>Student:</strong> {{ student.user.username }}</p>
    <p><strong>Paid Now:</strong> ₹{{ paid_amount }}</p>
    <p><strong>Total Paid:</strong> ₹{{ payment.amount }}</p>
    <p><strong>Remaining:</strong> ₹{{ remaining }}</p>
    <p><strong>Status:</strong> {{ payment.status }}</p>
    <p><strong>Payment ID:</strong> {{ payment.payment_id }}</p>

    <a href="{% url 'parent_dashboard' %}" class="btn">Back to Dashboard</a>
</div>

</body>
</html>