# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
myworld/
venv/
env/

# Django
db.sqlite3
*.log

# Static & media
staticfiles/
media/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db
